@import '../node_modules/@coreui/coreui/dist/css/coreui.min.css'; /* coreui template css */

/* template style fixes */

.c-sidebar.c-sidebar-light .c-sidebar-brand {
  background: transparent;
  border-top: 1px solid rgba(0, 0, 21, 0.2);
}

.c-header {
  border-top: 1px solid rgba(0, 0, 21, 0.2);
}
